<!doctype html>
<html lang="ru">
<head>
    <title>Barhat</title>

    <meta charset="utf-8">
    <meta name="theme-color" content="#31393f">

    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">

    <!-- <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-64x64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="/img/favicon-128x128.png" sizes="128x128"> -->
    <% for(var i = 0; i < htmlWebpackPlugin.files.css.length; i++) { %>
    <link rel="preload"
          href="<%= '/assets/css' + htmlWebpackPlugin.files.css[i].slice(htmlWebpackPlugin.files.css[i].lastIndexOf('/')) %>"
          as="style">
    <% } %>
    <!--<link rel="preload" href="/fonts/regular/oswald-regular.woff2" as="font" type="font/woff2" crossorigin>-->
    <!--<link rel="preload" href="/fonts/os-regular/opensans-regular.woff2" as="font" type="font/woff2" crossorigin>-->
    <% for(var i = 0; i < htmlWebpackPlugin.files.css.length; i++) { %>
    <link rel="stylesheet"
          href="<%= '/assets/css' + htmlWebpackPlugin.files.css[i].slice(htmlWebpackPlugin.files.css[i].lastIndexOf('/')) %>"
          media="none" onload="if(media!='all')media='all'">
    <noscript>
        <link rel="stylesheet"
              href="<%= '/assets/css' + htmlWebpackPlugin.files.css[i].slice(htmlWebpackPlugin.files.css[i].lastIndexOf('/')) %>">
    </noscript>
    <% } %>
    <% for(var i = 0; i < htmlWebpackPlugin.files.js.length; i++) { %>
    <script defer
            src="<%= '/assets/js' + htmlWebpackPlugin.files.js[i].slice(htmlWebpackPlugin.files.js[i].lastIndexOf('/')) %>"></script>
    <% } %>
</head>
<body>
<div id="app">
    <div class="g-page g-page_coming-soon">
        <main class="g-main-container container-flex">
            <div class="g-main-container__inner">
                <div class="row center-xs">
                    <div class="col-xs-8 col-sm-6 col-lg-12">
                        <a href="/" class="g-nav__logo"><img src="/assets/images/logo.png" alt=""
                                                             class="g-image__responsive"></a>
                    </div>
                </div>
                <div class="row center-xs middle-sm">
                    <div class="col-xs-12 col-sm-6">
                        <div class="row">
                            <div class="col-xs-12">
                                <nav class="g-nav">
                                    <a href="#">логотипы</a>
                                    <a href="#">фирменные стили</a>
                                    <a href="#">полиграфия</a>
                                    <a href="#">упаковка</a>
                                    <a href="#">сайты</a>
                                </nav>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="b-contacts">
                                    <a href="tel:+7 (473) 294 97 53" class="b-contacts__item">
                                        <i class="g-icon g-icon_phone"></i> <span>+7 (473) 294 97 53</span>
                                    </a>
                                    <a href="tel:+7 (952) 542 35 89" class="b-contacts__item">
                                        <i class="g-icon g-icon_mobile"></i> <span>+7 (952) 542 35 89</span>
                                    </a>
                                    <a href="mailto:info@a-barhat.ru" class="b-contacts__item">
                                        <i class="g-icon g-icon_mail-alt"></i> <span>info@a-barhat.ru</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="b-social-links">
                            <a href="https://www.instagram.com/a_barhat/" class="b-social-links__item">
                                <i class="g-icon g-icon_instagram"></i>
                            </a>
                            <a href="https://vk.com/barhatagency" class="b-social-links__item">
                                <i class="g-icon g-icon_vkontakte"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <a href="/barhat-pres.pdf" class="g-link" download>скачать презентацию</a>
                    </div>
                    <div class="col-xs-10 col-sm-14">
                        <div class="b-coming-soon">
                            <div class="b-coming-soon__description">
                                сайт находится на реконструкции,
                                приносим свои извинения
                                за временные неудобства
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="g-footer">
            <div class="container-flex">
                <div class="row center-xs">
                    <div class="col-xs-12">
                        <p class="g-footer__copyright">
                            (c) Дизайн-агентство «Бархат».
                            все права защищены
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>