html {
  font-size: 23px;
}

.g-page {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .g-main-container {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
  }

  &_coming-soon {
	background: url('#{$imagePath}/background.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
  }
}

.g-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  &__logo {
	display: block;
	justify-content: center;
	margin-top: 57px;
	margin-bottom: 40px;

	img {
	  margin: 0 auto;
	}
  }

  a {
	display: flex;
	width: 100%;
	margin-bottom: 14px;
	font-family: $f-rale-way-semibold;
	color: $c-white;
	font-size: 11px;
	text-decoration: none;
	justify-content: center;
	text-transform: uppercase;
	letter-spacing: 4.5px;

  }

  &:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	transform: translateX(-50%);
	width: 50%;
	height: 1px;
	background: $c-main-color;
  }
}

.g-full-height {
  height: 100vh;
}

.g-link {
  font-family: $f-rale-way-semibold;
  font-size: 14px;
  color: $c-white;
}

.g-footer {
  background: rgba(77, 86, 91, .6);

  &__copyright {
	padding: 25px 0;
	font-family: $f-rale-way-semibold;
	font-size: 8px;
	color: $c-white;
  }
}

.g-image {
  &__responsive {
	display: block;
	max-width: 100%;
	height: auto;
  }
}

@media only screen and (min-width: 46rem) {
  .g-nav {
	&__logo {
	  margin: 57px 0 100px;
	}

	a {
	  font-size: 14px;
	  justify-content: flex-end;
	}

	&:after {
	  position: absolute;
	  left: inherit;
	  bottom: 0;
	  right: -1rem;
	  transform: translateX(0);
	  height: 100%;
	  width: 1px;
	  background: $c-main-color;
	}
  }

  .g-footer {
	&__copyright {
	  font-size: 10px;
	}
  }
}