$fontPath: '/assets/fonts';
$imagePath: '/assets/images/';

/* *** FONTS *** */

$f-oranien-baum-regular: 'OranienBaumRegular';
$f-rale-way-semibold: 'RaleWaySemibold';

/* *** COLORS *** */
$c-white: #fff;
$c-black: #000;
$c-main-color: #a57e49;
